/* Styles specific to home page */

.home-header {
	padding-top: calc(var(--feather-grid-mega) * 3);
	padding-bottom: calc(var(--feather-grid-mega) * 1.75);
}

.subheading {
    margin: var(--feather-grid-medium) 0;
}

.subheading a {
	text-decoration: none;
}

.subheading a:link, .subheading a:visited {
	color: white;
}

.subheading a:hover, .subheading a:active {
	color: var(--tw-color-blue-faded);
}

.grey {
	background-color: var(--tw-color-gray-faint);
}

.small-container {
	max-width: calc(var(--feather-grid-page-width) - var(--feather-grid-mega) * 4);
	margin: 0 auto;
}

.small-container .Grid-cell {
	padding: var(--feather-grid-large) var(--feather-grid-mega);
	max-width: 600px;
}

/*Timeline height changed with JS. timeline-cell height is set as a backup.*/
.timeline-cell {
	height: 700px;
}

.twitter-link a {
	text-decoration: none;
}

.twitter-link a:link, .twitter-link a:visited {
	color: inherit;
}

.twitter-link a:hover, .twitter-link a:active {
	color: var(--tw-color-text-link);
}

/* Center text vertically */

.twitter-link {
	margin-top: 325px;
}

/* Our Philosophy - images */

img.emoji-img {
	display: block;
	width: 175px;
	height: 175px;
}

/* Home page media queries */

/* Less than --feather-grid-page-width + (--feather-grid-mega * 2) */
@media (max-width: 1236px) {
	.home-header {
		padding-bottom: calc(var(--feather-grid-mega) * 1.5);
	}
}

/* Less than 600px */

@media (max-width: 600px) {
	.timeline-cell {
		height: 450px;
	}

	.twitter-link {
		margin-top: 0;
	}
}

/* Explore Projects */

img.research-image-index {
	display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
}

img.research-image {
	display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
}

img.research-figure {
	display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
}

@media (max-width: 600px) {
        img.research-image {
          width: 80%;
        }
}

/* Publications styles */
.Paper-card {
  font-size: small;
}
.Context-card {
  font-size: medium;
}
img.PubMed-icon {
  width: 20px;
}
